<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/createUser">Create</a></li>
        </ul>
    </div>
    <div class="header">
        <div class="table">
            <!-- <%= JSON.stringify(listUser)%> -->
            <fieldset>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                    <% listUser.forEach(function(user) { %>
                        <tr>

                            <td>
                                <%=user.id %>
                            </td>
                            <td>
                                <%=user.email %>
                            </td>
                            <td>
                                <%=user.name %>
                            </td>
                            <td>
                                <%=user.city %>
                            </td>

                            <td>
                                <a href="/updateUser/<%=user.id %>">Edit</a>
                                <button>Delete</button>
                            </td>

                        </tr>
                        <% }) %>
                </table>
            </fieldset>
        </div>
        <!-- <div class="form">
            <form action="/create_user" method="POST">
                <fieldset>
                    <legend>User:</legend>
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Email enter" name="email"><br><br>
                    <label for="name">Name:</label>
                    <input type="text" id="name" placeholder="Name enter" name="name"><br><br>
                    <label for="city">City:</label>
                    <input type="text" id="city" placeholder="City enter" name="city"><br><br>

                    <button type="submit">Save</button>
                </fieldset>
            </form>
        </div> -->
        <img src="/imgs/girl.jpg" class="width_100">
    </div>

</body>

</html>